{
  "openapi": "3.0.1",
  "info": {
    "title": "Loanscape API",
    "description": "The Loanscape API allows lenders to fetch data for their applications on Loanscape.",
    "license": {
      "name": "UNLICENSED"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.loanscape.io/api/v1.0"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/applications": {
      "get": {
        "description": "Fetch all applications made to your company, specifying the fields you'd like to retrieve.<Info>By default, only `applicationId` is returned. Optionally request further fields by passing them in the `fields` parameter in the query. Fields within the `tpo` object should be specifically requested with the format `tpo.name`.<br/><br/>**For example, to return all possible fields:**<br/>`https://app.loanscape.io/api/v1.0/applications?fields=status,tag,channels,assignedAccountExecutive,assignedUsers,nextRenewalDate,dateCreated,dateApproved,dateRenewed,dateStatusUpdated,tpo.companyId,tpo.name,tpo.nmls,tpo.address,tpo.ein,tpo.pointOfContact,tpo.team,tpo.dbas,tpo.companyTypes,tpo.operatingStates,tpo.suretyBonds,tpo.eoInsurance,tpo.affiliations,tpo.industryApprovals,tpo.branches,tpo.contractProcessors`</Info>",
        "parameters": [
          {
              "name": "fields",
              "in": "query",
              "description": "Additional fields to fetch. Separate multiple fields with commas. (optional)",
              "required": false,
              "schema": {
                "type": "string"
              },
              "style": "form"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of applications returned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FullApplication"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{applicationId}": {
      "get": {
        "description": "Fetch a specific application, specifying the `applicationId` and the fields you'd like to retrieve.<Info>By default, only `applicationId` is returned. Optionally request further fields by passing them in the `fields` parameter in the query. Fields within the `tpo` object should be specifically requested with the format `tpo.name`.<br/><br/>**For example, to return all possible fields:**<br/>`https://app.loanscape.io/api/v1.0/applications/<applicationId>?fields=status,tag,channels,assignedAccountExecutive,assignedUsers,nextRenewalDate,dateCreated,dateApproved,dateRenewed,dateStatusUpdated,tpo.companyId,tpo.name,tpo.nmls,tpo.address,tpo.ein,tpo.pointOfContact,tpo.team,tpo.dbas,tpo.companyTypes,tpo.operatingStates,tpo.suretyBonds,tpo.eoInsurance,tpo.affiliations,tpo.industryApprovals,tpo.branches,tpo.contractProcessors`</Info>",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The applicationId of the application to fetch.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Additional fields to fetch. Separate multiple fields with commas. (optional)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
        }
        ],
        "responses": {
          "200": {
            "description": "Application data returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullApplication"
                }
              }
            }
          },
          "400": {
            "description": "Error returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LightApplicationDEPRECATED": {
        "type": "object",
        "properties": {
          "applicationId": {
            "description": "The application's unique identifier.",
            "type": "string"
          },
          "status": {
            "description": "The status of the application.",
            "type": "string"
          },
          "tag": { 
            "description": "The tag assigned by the lender's team.",
            "type": "string"
          },
          "channels": {
            "description": "The channels associated with the application.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assignedAccountExecutive": {
            "description": "Details of the assigned account executive on the lender's team.",
            "type": "object",
            "properties": {
              "userId": { "type": "string" },
              "name": { "type": "string" },
              "email": { "type": "string" },
              "phone": { "type": "string" }
            }
          },
          "nextRenewalDate": {
            "description": "The date that the next yearly document is due from the TPO.", 
            "type": "string" 
          },
          "dateCreated": { 
            "description": "The date that the application was created. This is an ISO string (e.g. 2011-10-05T14:48:00.000Z).",
            "type": "string" 
          },
          "dateApproved": { 
            "description": "The date that the application was first approved. This is an ISO string (e.g. 2011-10-05T14:48:00.000Z).",
            "type": "string" 
          },
          "dateRenewed": { 
            "description": "The date that the application was first approved. This is an ISO string (e.g. 2011-10-05T14:48:00.000Z).",
            "type": "string" 
          },
          "dateStatusUpdated": { 
            "description": "The date that the application's status was last updated (for example, renewed or deactivated). This is an ISO string (e.g. 2011-10-05T14:48:00.000Z).",
            "type": "string" 
          },
          "tpo": {
            "type": "object",
            "description": "Details of the TPO's company.",
            "properties": {
              "companyId": { "type": "string" },
              "name": { "type": "string" },
              "nmls": { "type": "string" },
              "pointOfContact": {
                "type": "object",
                "description": "The point of contact indicated on the TPO's company.",
                "properties": {
                  "userId": { "type": "string" },
                  "name": { "type": "string" },
                  "email": { "type": "string" },
                  "phone": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "FullApplication": {
        "type": "object",
        "properties": {
          "applicationId": {
            "description": "The application's unique identifier.",
            "type": "string"
          },
          "status": {
            "description": "The status of the application.",
            "type": "string"
          },
          "tag": { 
            "description": "The tag assigned by the lender's team.",
            "type": "string"
          },
          "channels": {
            "description": "The channels associated with the application.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "assignedAccountExecutive": {
            "description": "Details of the assigned account executive on the lender's team.",
            "type": "object",
            "properties": {
              "userId": { "type": "string" },
              "name": { "type": "string" },
              "email": { "type": "string" },
              "phone": { "type": "string" }
            }
          },
          "assignedUsers": {
            "description": "Details of the assigned users on the lender's team.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "userId": { "type": "string" },
                "name": { "type": "string" },
                "email": { "type": "string" },
                "phone": { "type": "string" }
              }
            }
          },
          "nextRenewalDate": {
            "description": "The date that the next yearly document is due from the TPO.", 
            "type": "string" 
          },
          "dateCreated": { 
            "description": "The date that the application was created. This is an ISO string (e.g. 2011-10-05T14:48:00.000Z).",
            "type": "string" 
          },
          "dateApproved": { 
            "description": "The date that the application was first approved. This is an ISO string (e.g. 2011-10-05T14:48:00.000Z).",
            "type": "string" 
          },
          "dateRenewed": { 
            "description": "The date that the application was first approved. This is an ISO string (e.g. 2011-10-05T14:48:00.000Z).",
            "type": "string" 
          },
          "dateStatusUpdated": { 
            "description": "The date that the application's status was last updated (for example, renewed or deactivated). This is an ISO string (e.g. 2011-10-05T14:48:00.000Z).",
            "type": "string" 
          },
          "tpo": {
            "type": "object",
            "description": "Details of the TPO's company.",
            "properties": {
              "companyId": { "type": "string" },
              "name": { "type": "string" },
              "nmls": { "type": "string" },
              "address": {
                "type": "object",
                "properties": {
                  "line1": { "type": "string" },
                  "line2": { "type": "string" },
                  "city": { "type": "string" },
                  "state": { "type": "string" },
                  "zip": { "type": "string" }
                }
              },
              "ein": { "type": "string" },
              "pointOfContact": {
                "type": "object",
                "description": "The point of contact indicated on the TPO's company.",
                "properties": {
                  "userId": { "type": "string" },
                  "name": { "type": "string" },
                  "email": { "type": "string" },
                  "phone": { "type": "string" }
                }
              },
              "team": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "userId": { "type": "string" },
                    "name": { "type": "string" },
                    "email": { "type": "string" },
                    "phone": { "type": "string" },
                    "role": { "type": "string" }
                  }
                }
              },
              "dbas": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "states": {
                      "type": "array",
                      "items": { "type": "string" }
                    }
                  }
                }
              },
              "companyTypes": {
                "type": "array",
                "items": { "type": "string" }
              },
              "operatingStates": {
                "type": "array",
                "items": { "type": "string" }
              },
              "suretyBonds": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "company": { "type": "string" },
                    "amount": { 
                      "description": "Amount is a number (e.g. 500) and indicates US dollars.",
                      "type": "number" 
                    },
                    "states": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "expiryDate": { "type": "string" }
                  }
                }
              },
              "eoInsurance": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "company": { "type": "string" },
                    "amount": { 
                      "description": "E&O insurance covering the TPO. Amount is a number (e.g. 500) and indicates US dollars.",
                      "type": "number" 
                    },
                    "states": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "expiryDate": { "type": "string" }
                  }
                }
              },
              "affiliations": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "affiliationType": { "type": "string" },
                    "companyName": { "type": "string" },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line1": { "type": "string" },
                        "line2": { "type": "string" },
                        "city": { "type": "string" },
                        "state": { "type": "string" },
                        "zip": { "type": "string" }
                      }
                    },
                    "stateOfIncorporation": { "type": "string" },
                    "stateOfOperation": { "type": "string" },
                    "percentOwnership": { 
                      "description": "Number given indicates percent as an integer, not a decimal. For example, 50 indicates 50%.",
                      "type": "number"
                    }
                  }
                }
              },
              "industryApprovals": {
                "type": "object",
                "properties": {
                  "fha": { "type": "string" },
                  "va": { "type": "string" },
                  "fannieMae": { "type": "string" },
                  "freddieMac": { "type": "string" },
                  "mers": { "type": "string" },
                  "usda": { "type": "string" },
                  "fdic": { "type": "string" },
                  "ncua": { "type": "string" }
                }
              },
              "branches": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "object",
                      "properties": {
                        "line1": { "type": "string" },
                        "line2": { "type": "string" },
                        "city": { "type": "string" },
                        "state": { "type": "string" },
                        "zip": { "type": "string" }
                      }
                    },
                    "nmls": { "type": "string" },
                    "managerNmls": { "type": "string" }
                  }
                }
              },
              "contractProcessors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "companyName": { "type": "string" },
                    "companyNmls": { "type": "string" },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line1": { "type": "string" },
                        "line2": { "type": "string" },
                        "city": { "type": "string" },
                        "state": { "type": "string" },
                        "zip": { "type": "string" }
                      }
                    },
                    "phone": { "type": "string" },
                    "email": { "type": "string" },
                    "pointOfContact": { 
                      "description": "The name of the point of contact.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },      
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  }
}